* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #e6e6e6;
  background-color: #333;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
  padding: 2rem 1rem;
  width: 100%;
}

header h1 {
  color: red;
  text-transform: uppercase;
}

main {
  padding-top: 2rem;
}

main .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  flex-grow: 0;
  max-width: 1360px;
  margin: 0 auto;
}

article {
  padding: 1rem;
  border: 1px #4a4a4a solid;
  margin: 0.5rem;
  width: 16rem;
}

article h2,
article p {
  margin-bottom: 1rem;
  line-height: 1.25;
}

article h2 {
  font-size: 1.35rem;
}

article h2,
article .desc {
  color: #eaeaea;
}

article p {
  color: #bbb;
}

article .rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 0;
}

article .rating p {
  margin: 0;
  margin-right: 0.5rem;
}

article .fa-star {
  color: #ffa700;
}

